In [1]:
import pandas as pd

# Ruta base
ruta = r"C:\Users\claud\OneDrive\Escritorio\Power Education\Proyecto Final\Datos en bruto"

# Cargar CSVs
df_customers = pd.read_csv(rf"{ruta}\df_Customers.csv")
df_products  = pd.read_csv(rf"{ruta}\df_Products.csv")
df_payments  = pd.read_csv(rf"{ruta}\df_Payments.csv")

# --- Inspección inicial ---
print("=== Customers ===")
print("Shape:", df_customers.shape)   # filas, columnas
print("Columnas:", df_customers.columns.tolist())
print(df_customers.head(), "\n")

print("=== Products ===")
print("Shape:", df_products.shape)
print("Columnas:", df_products.columns.tolist())
print(df_products.head(), "\n")

print("=== Payments ===")
print("Shape:", df_payments.shape)
print("Columnas:", df_payments.columns.tolist())
print(df_payments.head(), "\n")

=== Customers ===
Shape: (89316, 4)
Columnas: ['customer_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']
    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP

=== Products ===
Shape: (89316, 6)
Columnas: ['product_id', 'product_category_name', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
     product_id     product_category_name  product_weight_g  \
0  90K0C1fIyQUf                      toys             491.0
1  qejhpMGGVcsl             watches_gifts             440.0
2  qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3  639iGvMyv0De                      toys            1450.0
4  1lycYGcsic2F                      toys             300.0

   product_length_cm  product_height_cm  product_width_cm
0               19.0               12.0              16.0
1               18.0               14.0              17.0
2               16.0               16.0              16.0
3               68.0                3.0              48.0
4               17.0                4.0              12.0

=== Payments ===
Shape: (89316, 5)
Columnas: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']
       order_id  payment_sequential payment_type  payment_installments  \
0  Axfy13Hk4PIk                   1  credit_card                     1
1  v6px92oS8cLG                   1  credit_card                     8
2  Ulpf9skrhjfm                   1  credit_card                     4
3  bwJVWupf2keN                   1  credit_card                     2
4  Dd0QnrMk9Cj5                   1  credit_card                     1

   payment_value
0         259.14
1         382.39
2         249.25
3          27.79
4          76.15

In [2]:
# Cargar Excel completo
xls = pd.ExcelFile(rf"{ruta}\Ordeness.xlsx")

# Ver las hojas disponibles
df_orders = pd.read_excel(rf"{ruta}\Ordenes.xlsx", sheet_name="df_Orders")
df_orderitems = pd.read_excel(rf"{ruta}\Ordenes.xlsx", sheet_name="df_OrderItems")

print(df_orders.shape)
print(df_orders.head(), "\n")
print(df_orderitems.shape)
print(df_orderitems.head())

(89316, 7)
       order_id   customer_id order_status order_purchase_timestamp  \
0  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-10-22 18:57:54
1  v6px92oS8cLG  PxA7fv9spyhx    delivered      2018-06-20 21:40:31
2  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered      2018-02-16 16:19:31
3  bwJVWupf2keN  EOEsCQ6QlpIg    delivered      2018-08-18 18:04:29
4  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered      2017-12-22 16:44:04

    order_approved_at order_delivered_timestamp order_estimated_delivery_date
0 2017-10-22 19:14:13       2017-10-26 22:19:52                    2017-11-09
1 2018-06-20 22:20:20       2018-07-03 22:51:22                    2018-07-24
2 2018-02-17 16:15:35       2018-02-27 01:29:50                    2018-03-08
3 2018-08-18 18:15:16       2018-08-27 20:03:51                    2018-09-19
4 2017-12-22 17:31:31       2018-01-05 19:22:49                    2018-01-18

(89316, 5)
       order_id    product_id     seller_id  price  shipping_charges
0  Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF  22351              8465
1  v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs   1708              2379
2  Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD    644              1738
3  bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf   2645              3072
4  Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr   7799              3066

In [8]:
# Revisar duplicados en IDs clave
print("Duplicados en product_id:", df_products["product_id"].duplicated().sum())
print("Duplicados en customer_id:", df_customers["customer_id"].duplicated().sum())
print("Duplicados en order_id:", df_orders["order_id"].duplicated().sum())
print("Duplicados en seller_id:", df_orderitems["seller_id"].duplicated().sum())

Duplicados en product_id: 61865
Duplicados en customer_id: 0
Duplicados en order_id: 0
Duplicados en seller_id: 86387

In [9]:
# ================================================================
# 2) INSPECCIÓN DE CALIDAD: TIPOS, NULOS, DUPLICADOS Y ÚNICOS
# ================================================================
# En este paso realizo una inspección básica de cada dataset
# para conocer su estado inicial y posibles problemas de calidad.
# Los aspectos revisados son:
# - Cantidad de filas y columnas (Shape)
# - Tipos de datos de cada columna
# - Número de valores nulos por columna
# - Número de filas duplicadas
# - Número de valores únicos por columna
# Esto me permite detectar desde el inicio dónde puede ser necesario
# aplicar limpieza o transformaciones posteriores.
# ================================================================

def quick_health(df, name):
    print(f"=== {name} ===")
    print("Shape:", df.shape, "→ (filas, columnas)")
    print("\nTipos de datos:\n", df.dtypes)
    print("\nNulos por columna:\n", df.isna().sum())
    print("\nDuplicados (filas exactas):", df.duplicated().sum())
    print("\nValores únicos por columna:\n", df.nunique(), "\n")

# Aplico la función a todos los datasets
quick_health(df_customers,  "Customers")
quick_health(df_products,   "Products")
quick_health(df_payments,   "Payments")
quick_health(df_orders, "Orders")
quick_health(df_orderitems, "OrderItems")

=== Customers ===
Shape: (89316, 4) → (filas, columnas)

Tipos de datos:
 customer_id                 object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

Nulos por columna:
 customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Duplicados (filas exactas): 0

Valores únicos por columna:
 customer_id                 89316
customer_zip_code_prefix    13930
customer_city                3735
customer_state                 27
dtype: int64

=== Products ===
Shape: (89316, 6) → (filas, columnas)

Tipos de datos:
 product_id                object
product_category_name     object
product_weight_g         float64
product_length_cm        float64
product_height_cm        float64
product_width_cm         float64
dtype: object

Nulos por columna:
 product_id                 0
product_category_name    308
product_weight_g          15
product_length_cm         15
product_height_cm         15
product_width_cm          15
dtype: int64

Duplicados (filas exactas): 61865

Valores únicos por columna:
 product_id               27451
product_category_name       70
product_weight_g          2020
product_length_cm           99
product_height_cm          101
product_width_cm            93
dtype: int64

=== Payments ===
Shape: (89316, 5) → (filas, columnas)

Tipos de datos:
 order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

Nulos por columna:
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Duplicados (filas exactas): 0

Valores únicos por columna:
 order_id                89316
payment_sequential         28
payment_type                4
payment_installments       24
payment_value           25520
dtype: int64

=== Orders ===
Shape: (89316, 7) → (filas, columnas)

Tipos de datos:
 order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_timestamp        datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

Nulos por columna:
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
dtype: int64

Duplicados (filas exactas): 0

Valores únicos por columna:
 order_id                         89316
customer_id                      89316
order_status                         7
order_purchase_timestamp         72775
order_approved_at                68215
order_delivered_timestamp        71143
order_estimated_delivery_date      444
dtype: int64

=== OrderItems ===
Shape: (89316, 5) → (filas, columnas)

Tipos de datos:
 order_id            object
product_id          object
seller_id           object
price                int64
shipping_charges     int64
dtype: object

Nulos por columna:
 order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

Duplicados (filas exactas): 0

Valores únicos por columna:
 order_id            89316
product_id          27451
seller_id            2929
price                4841
shipping_charges     5977
dtype: int64

In [10]:
# 3) CONVERSIÓN DE FECHAS EN 'ORDERS'
# ================================================================
# Aquí transformo las columnas de fecha al tipo datetime,
# para poder analizarlas correctamente (tiempo de entrega,
# evolución de ventas, etc.).
# ================================================================

date_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_timestamp",
    "order_estimated_delivery_date",
]
for c in date_cols:
    df_orders[c] = pd.to_datetime(df_orders[c], errors="coerce")

df_orders[date_cols].head()

,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09
1,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24
2,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08
3,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19
4,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18

In [11]:
#REVISIÓN CELDAS VACÍAS Y RESUMEN DE ENCUENTROS

import pandas as pd

def resumen_calidad(df: pd.DataFrame, name: str) -> pd.DataFrame:
    n_rows = len(df)

    # Celdas vacías en columnas de texto
    vacias = {}
    for col in df.columns:
        if pd.api.types.is_string_dtype(df[col]) or df[col].dtype == "object":
            vacias[col] = df[col].apply(lambda x: isinstance(x, str) and x.strip() == "").sum()
        else:
            vacias[col] = 0

    resumen = pd.DataFrame({
        "Columna": df.columns,
        "Tipo": df.dtypes.astype(str).values,
        "Nº Nulos": df.isna().sum().values,
        "% Nulos": (df.isna().sum() / n_rows * 100).round(2).values,
        "Nº Únicos": df.nunique(dropna=True).values,
        "Celdas vacías (texto)": pd.Series(vacias).values
    })

    # Índice bonito
    resumen.index = pd.RangeIndex(start=1, stop=len(resumen)+1, step=1)

    # Encabezado informativo
    print(f"\n=== Resumen de calidad: {name} ===")
    print("Shape:", df.shape, "→ (filas, columnas)")
    print("Duplicados (filas completas):", df.duplicated().sum())

    return resumen


# Genero los resúmenes
res_customers   = resumen_calidad(df_customers,  "Customers")
res_products    = resumen_calidad(df_products,   "Products")
res_payments    = resumen_calidad(df_payments,   "Payments")
res_orders      = resumen_calidad(df_orders,     "Orders")
res_orderitems  = resumen_calidad(df_orderitems, "OrderItems")

=== Resumen de calidad: Customers ===
Shape: (89316, 4) → (filas, columnas)
Duplicados (filas completas): 0

=== Resumen de calidad: Products ===
Shape: (89316, 6) → (filas, columnas)
Duplicados (filas completas): 61865

=== Resumen de calidad: Payments ===
Shape: (89316, 5) → (filas, columnas)
Duplicados (filas completas): 0

=== Resumen de calidad: Orders ===
Shape: (89316, 7) → (filas, columnas)
Duplicados (filas completas): 0

=== Resumen de calidad: OrderItems ===
Shape: (89316, 5) → (filas, columnas)
Duplicados (filas completas): 0

In [ ]:
before = df_products.shape[0]
df_products = df_products.drop_duplicates()
after = df_products.shape[0]
print(f"Products — filas antes: {before} | después de drop_duplicates: {after} | eliminadas: {before - after}")
#Mantenemos solo los productos unicos para no tener productos repetidos, al ser esta la tabla de control de productos
#No eliminamos los duplicados de los seller ID en ordenes por ejemplo ya que esa tabla guarda relacion entre productos vendidos y quienes los vendieron
#Si lo borramos perdemos la informacion, en tablas de cruces de ID para tener quien vendio que o que orden pertenece a X producto las mantenemos

Products — filas antes: 89316 | después de drop_duplicates: 27451 | eliminadas: 61865

In [13]:
dups_pid = df_products['product_id'].duplicated().sum()
print("Duplicados por product_id:", dups_pid)

if dups_pid > 0:
    # Si hay múltiples filas por el mismo product_id, me quedo con la primera
    before = df_products.shape[0]
    df_products = df_products.sort_values('product_id').drop_duplicates(subset='product_id', keep='first')
    after = df_products.shape[0]
    print(f"Products — filas antes: {before} | después por product_id único: {after} | eliminadas: {before - after}")

Duplicados por product_id: 0

In [14]:
print("Customers — customer_id únicos vs filas:", df_customers['customer_id'].nunique(), df_customers.shape[0])
print("Products  — product_id  únicos vs filas:", df_products['product_id'].nunique(),  df_products.shape[0])
print("Orders    — order_id    únicos vs filas:", df_orders['order_id'].nunique(),      df_orders.shape[0])

print("Duplicados por customer_id en Customers:", df_customers['customer_id'].duplicated().sum())
print("Duplicados por order_id en Orders:", df_orders['order_id'].duplicated().sum())
print("Duplicados por product_id en Products:", df_products['product_id'].duplicated().sum())

Customers — customer_id únicos vs filas: 89316 89316
Products  — product_id  únicos vs filas: 27451 27451
Orders    — order_id    únicos vs filas: 89316 89316
Duplicados por customer_id en Customers: 0
Duplicados por order_id en Orders: 0
Duplicados por product_id en Products: 0

In [15]:
id_candidates = {"order_id", "customer_id", "product_id", "seller_id", "payment_sequential"}

def es_columna_id(col: str) -> bool:
    c = col.lower()
    return c.endswith("_id") or (c in id_candidates)

def normalizar_texto(df: pd.DataFrame, name: str):
    print(f"Normalizo texto · {name}")
    for col in df.columns:
        if pd.api.types.is_string_dtype(df[col]) or df[col].dtype == "object":
            # quito espacios alrededor
            df[col] = df[col].apply(lambda x: x.strip() if isinstance(x, str) else x)
            # solo minúsculas si NO es ID
            if not es_columna_id(col):
                df[col] = df[col].apply(lambda x: x.lower() if isinstance(x, str) else x)

for nm, df in [("Customers", df_customers), ("Products", df_products), ("Payments", df_payments), ("Orders", df_orders), ("OrderItems", df_orderitems)]:
    normalizar_texto(df, nm)

Normalizo texto · Customers
Normalizo texto · Products
Normalizo texto · Payments
Normalizo texto · Orders
Normalizo texto · OrderItems

In [16]:
payments_by_order = (
    df_payments
      .groupby("order_id", as_index=False)
      .agg(
          total_payment_value=("payment_value", "sum"),
          n_payments=("payment_sequential", "max"),
          main_payment_type=("payment_type", lambda s: s.mode().iat[0] if not s.mode().empty else None)
      )
)
payments_by_order.head()

       order_id  total_payment_value  n_payments main_payment_type
0  001gkk6BwKEB               265.90           1       credit_card
1  0029bAIZFMKA               217.82           1            wallet
2  002Jk8hp9Bhy              1272.76           1            wallet
3  002ohHsWSKrP               650.65           1       credit_card
4  0041NijdAYB0                70.34           1       credit_card

In [17]:
# Products: me quedo solo con ID y categoría
df_products = df_products[['product_id', 'product_category_name']]

# Customers: elimino el zip
df_customers = df_customers[['customer_id', 'customer_city', 'customer_state']]

#Me quedo solo con estas columnas ya que para mi objetivo del analisis las demas columnas son irrelevantes

In [18]:
# ================================================================
# ELIMINACIÓN DE VALORES NULOS
# ================================================================
# En esta sección elimino las filas con valores nulos.
# Justificación:
# - Representan menos del 0,5% del total de registros (~400 sobre 89k).
# - No vale la pena imputarlos, ya que no afectan la representatividad.
# - Es preferible eliminarlos para evitar errores en las uniones.
# ================================================================

# Customers
before = df_customers.shape[0]
df_customers = df_customers.dropna()
after = df_customers.shape[0]
print(f"Customers — antes: {before}, después: {after}, eliminadas: {before - after}")

# Products
before = df_products.shape[0]
df_products = df_products.dropna()
after = df_products.shape[0]
print(f"Products — antes: {before}, después: {after}, eliminadas: {before - after}")

# Payments
before = df_payments.shape[0]
df_payments = df_payments.dropna()
after = df_payments.shape[0]
print(f"Payments — antes: {before}, después: {after}, eliminadas: {before - after}")

# Orders
before = df_orders.shape[0]
df_orders = df_orders.dropna()
after = df_orders.shape[0]
print(f"Orders — antes: {before}, después: {after}, eliminadas: {before - after}")

# OrderItems
before = df_orderitems.shape[0]
df_orderitems = df_orderitems.dropna()
after = df_orderitems.shape[0]
print(f"OrderItems — antes: {before}, después: {after}, eliminadas: {before - after}")

#Elimino los nulos ya que vimos en el analisis inicial que no representan un gran porcentaje vs la totalidad de los
#datos que poseemos, además, como afectan en su mayoría a fechas estas no responden las preguntas que queremos resolver

Customers — antes: 89316, después: 89316, eliminadas: 0
Products — antes: 27451, después: 27310, eliminadas: 141
Payments — antes: 89316, después: 89316, eliminadas: 0
Orders — antes: 89316, después: 87418, eliminadas: 1898
OrderItems — antes: 89316, después: 89316, eliminadas: 0

In [19]:
# ================================================================
# CREO LA TABLA UNIFICADA CON ≥20 COLUMNAS 
# ================================================================
# Objetivo:
# - Unir OrderItems + Orders + Customers + Products + Payments (agregados)
# - Añadir columnas derivadas de negocio (fechas, flags, totales)
# - Alcanzar >= 20 columnas útiles para el análisis en Power BI
#   sin recurrir a dimensiones/pesos de producto ya que no es nada relevante para el analisis
# ================================================================

import pandas as pd
import numpy as np

# 1) Aseguro que las fechas de Orders están en datetime (por si acaso)
date_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_timestamp",
    "order_estimated_delivery_date",
]
for c in date_cols:
    if c in df_orders.columns:
        df_orders[c] = pd.to_datetime(df_orders[c], errors="coerce")

# 2) Agrego pagos por pedido con columnas adicionales
#    - total_payment_value: importe total pagado
#    - n_payments: número de pagos/cuotas (máximo secuencial)
#    - main_payment_type: método de pago modal
#    - max_installments: máximo nº de plazos usados
payments_by_order = (
    df_payments
      .groupby("order_id", as_index=False)
      .agg(
          total_payment_value=("payment_value", "sum"),
          n_payments=("payment_sequential", "max"),
          main_payment_type=("payment_type", lambda s: s.mode().iat[0] if not s.mode().empty else None),
          max_installments=("payment_installments", "max")
      )
)

# 3) Unificación (granularidad = línea de pedido)
df_fact = (
    df_orderitems
      .merge(df_orders,    on="order_id",    how="left")
      .merge(df_customers, on="customer_id", how="left")
      .merge(df_products,  on="product_id",  how="left")
      .merge(payments_by_order, on="order_id", how="left")
)

# 4) Columnas derivadas de negocio (sin pesos/tamaños)
#    Nota: NO tocamos IDs con lower(). Solo generamos variables nuevas.

# 4.1) Totales a nivel de línea
df_fact["line_total"] = df_fact["price"].fillna(0) + df_fact["shipping_charges"].fillna(0)

# 4.2) Derivados temporales desde la fecha de compra
df_fact["purchase_date"]  = df_fact["order_purchase_timestamp"].dt.date
df_fact["purchase_year"]  = df_fact["order_purchase_timestamp"].dt.year
df_fact["purchase_month"] = df_fact["order_purchase_timestamp"].dt.month

# 4.3) Lags de proceso (aprobación/entrega)
#      - horas desde compra hasta aprobación
#      - días desde compra hasta entrega
df_fact["hours_to_approve"] = (
    (df_fact["order_approved_at"] - df_fact["order_purchase_timestamp"])
    .dt.total_seconds() / 3600
)

df_fact["days_to_deliver"] = (
    (df_fact["order_delivered_timestamp"] - df_fact["order_purchase_timestamp"])
    .dt.total_seconds() / (3600*24)
)

# 4.4) Entregado a tiempo (comparando con fecha estimada)
df_fact["delivered_flag"] = np.where(df_fact["order_delivered_timestamp"].notna(), 1, 0)
df_fact["on_time_flag"] = np.where(
    (df_fact["order_delivered_timestamp"].notna()) &
    (df_fact["order_estimated_delivery_date"].notna()) &
    (df_fact["order_delivered_timestamp"] <= df_fact["order_estimated_delivery_date"]),
    1, 0
)

# 4.5) Métrica de pagos: valor por plazo (si aplica)
df_fact["payment_per_installment"] = np.where(
    (df_fact["max_installments"].fillna(0) > 0),
    df_fact["total_payment_value"] / df_fact["max_installments"],
    np.nan
)

# 4.6) Ticket “línea vs pago total” (útil para sanity checks o % de aporte de la línea)
#      *Si un pedido tiene varias líneas, total_payment_value se verá repetido por línea
#       (como en cualquier modelo a nivel de detalle); lo tratamos en dashboards con medidas DAX.
df_fact["line_vs_total_payment_ratio"] = np.where(
    df_fact["total_payment_value"].notna() & (df_fact["total_payment_value"] > 0),
    df_fact["line_total"] / df_fact["total_payment_value"],
    np.nan
)

# 5) Verificación de columnas y shape
print("Shape de la tabla unificada:", df_fact.shape)
print("Número de columnas:", len(df_fact.columns))
print("Columnas:\n", df_fact.columns.tolist())

Shape de la tabla unificada: (89316, 28)
Número de columnas: 28
Columnas:
 ['order_id', 'product_id', 'seller_id', 'price', 'shipping_charges', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_timestamp', 'order_estimated_delivery_date', 'customer_city', 'customer_state', 'product_category_name', 'total_payment_value', 'n_payments', 'main_payment_type', 'max_installments', 'line_total', 'purchase_date', 'purchase_year', 'purchase_month', 'hours_to_approve', 'days_to_deliver', 'delivered_flag', 'on_time_flag', 'payment_per_installment', 'line_vs_total_payment_ratio']

In [20]:
# ================================================================
# CHEQUEOS FINALES Y COLUMNAS EXTRA PARA ENRIQUECER EL ANÁLISIS
# ================================================================
# En esta última parte hago dos cosas:
# 1) Verifico valores atípicos o inconsistencias (outliers) en precios, pagos y fechas.
# 2) Creo una columna adicional 'weekday_purchase' con el día de la semana,
#    útil para segmentar ventas en Power BI.
# ================================================================

# 1) Chequeo de valores atípicos
print("Filas con price = 0:", (df_fact["price"] == 0).sum())
print("Filas con total_payment_value = 0:", (df_fact["total_payment_value"] == 0).sum())
print("Filas con días negativos de entrega:", (df_fact["days_to_deliver"] < 0).sum())

# Comprobación de consistencia: line_total vs total_payment_value
consistencia = (
    df_fact.groupby("order_id")
    .agg(line_total_sum=("line_total", "sum"),
         total_payment=("total_payment_value", "max"))
)
consistencia["diff"] = consistencia["line_total_sum"] - consistencia["total_payment"]

print("Pedidos con diferencia significativa entre suma de líneas y pago total:",
      (consistencia["diff"].abs() > 1).sum())

# 2) Nueva columna: día de la semana de compra
df_fact["weekday_purchase"] = df_fact["order_purchase_timestamp"].dt.day_name()

print("Columnas finales:", len(df_fact.columns))
print(df_fact[["order_id", "order_purchase_timestamp", "weekday_purchase"]].head())

Filas con price = 0: 0
Filas con total_payment_value = 0: 1
Filas con días negativos de entrega: 0
Pedidos con diferencia significativa entre suma de líneas y pago total: 89315
Columnas finales: 29
       order_id order_purchase_timestamp weekday_purchase
0  Axfy13Hk4PIk      2017-10-22 18:57:54           Sunday
1  v6px92oS8cLG      2018-06-20 21:40:31        Wednesday
2  Ulpf9skrhjfm      2018-02-16 16:19:31           Friday
3  bwJVWupf2keN      2018-08-18 18:04:29         Saturday
4  Dd0QnrMk9Cj5      2017-12-22 16:44:04           Friday

In [21]:
# ================================================================
# CHEQUEO FINAL DE LA TABLA UNIFICADA
# ================================================================
print("Shape (filas, columnas):", df_fact.shape)
print("Número de filas:", df_fact.shape[0])
print("Número de columnas:", df_fact.shape[1])

Shape (filas, columnas): (89316, 29)
Número de filas: 89316
Número de columnas: 29

In [ ]:
print("Sin match de cliente:", (~df_fact["customer_id"].isin(df_customers["customer_id"])).sum())
print("Sin match de producto:", (~df_fact["product_id"].isin(df_products["product_id"])).sum())
print("Sin match de pedido:", (~df_fact["order_id"].isin(df_orders["order_id"])).sum())
#Lo revisaremos en PowerBI para ver que haremos con estos datos ya que antes de unificar eliminamos los datos nulos o vacíos porque afectaban al analisis.
#Esto se debe a la unificacion de las tablas, ya que hay datos que no encontraron correspondencia

Sin match de cliente: 1898
Sin match de producto: 308
Sin match de pedido: 1898

In [24]:
import pandas as pd
import numpy as np

def stats_numeric(df: pd.DataFrame, cols: list | None = None) -> pd.DataFrame:
    num_cols = cols if cols else df.select_dtypes(include=[np.number]).columns.tolist()
    out = []

    for c in num_cols:
        s = df[c]
        out.append({
            "columna": c,
            "count": int(s.count()),
            "missing": int(s.isna().sum()),
            "%missing": round(s.isna().mean()*100, 2),
            "mean": s.mean(),
            "median": s.median(),
            "std": s.std(),
            "var": s.var(),
            "min": s.min(),
            "p25": s.quantile(0.25),
            "p75": s.quantile(0.75),
            "max": s.max(),
            "iqr": s.quantile(0.75) - s.quantile(0.25),
            "skew": s.skew(),
            "kurtosis": s.kurtosis()
        })
    res = pd.DataFrame(out)
    return res.sort_values("columna").reset_index(drop=True)

# Ejemplo: todas las numéricas de df_fact
res_stats_fact = stats_numeric(df_fact)
res_stats_fact.head()

,columna,count,missing,%missing,mean,median,std,var,min,p25,p75,max,iqr,skew,kurtosis
0,days_to_deliver,87418,1898,2.13,12.434347,10.193119,9.272221,8.597409e+01,0.533414,6.732031,15.455674,2.096286e+02,8.723643,3.522816,33.832308
1,delivered_flag,89316,0,0.00,0.978750,1.000000,0.144219,2.079905e-02,0.000000,1.000000,1.000000,1.000000e+00,0.000000,-6.639364,42.082090
2,hours_to_approve,87418,1898,2.13,10.371203,0.344722,20.938057,4.384022e+02,0.000000,0.215278,14.833264,7.414436e+02,14.617986,5.487043,101.519182
3,line_total,89316,0,0.00,20007.088696,10953.000000,37388.150635,1.397874e+09,91.000000,6014.000000,19282.000000,4.464530e+05,13268.000000,7.145531,64.029680
4,line_vs_total_payment_ratio,89315,1,0.00,464.423133,67.081284,11984.393179,1.436257e+08,0.057294,26.637457,178.321230,2.775300e+06,151.683772,175.147330,36417.326862

In [25]:
def stats_categoricas(df: pd.DataFrame, cols: list | None = None, top_n: int = 10):
    cat_cols = cols if cols else df.select_dtypes(include=["object"]).columns.tolist()
    resumen = {}
    for c in cat_cols:
        vc = df[c].value_counts(dropna=False)
        resumen[c] = pd.DataFrame({
            "valor": vc.index.astype(str),
            "conteo": vc.values,
            "%": (vc.values / len(df) * 100).round(2)
        }).head(top_n)
    return resumen

# Ejemplo:
cats = stats_categoricas(df_fact, cols=["product_category_name","customer_state","main_payment_type"])
# Visualiza, por ejemplo:
cats["product_category_name"]

                   valor  conteo      %
0                   toys   67027  75.04
1          health_beauty    2351   2.63
2         bed_bath_table    2146   2.40
3         sports_leisure    1837   2.06
4        furniture_decor    1760   1.97
5  computers_accessories    1715   1.92
6             housewares    1340   1.50
7          watches_gifts    1196   1.34
8              telephony     912   1.02
9                   auto     829   0.93

In [26]:
def stats_fechas(df: pd.DataFrame, cols: list) -> pd.DataFrame:
    out = []
    for c in cols:
        s = pd.to_datetime(df[c], errors="coerce")
        out.append({
            "columna": c,
            "min": s.min(),
            "max": s.max(),
            "rango_dias": (s.max() - s.min()).days if s.notna().any() else np.nan,
            "missing": int(s.isna().sum()),
            "%missing": round(s.isna().mean()*100, 2)
        })
    return pd.DataFrame(out)

res_fechas = stats_fechas(df_fact, [
    "order_purchase_timestamp","order_approved_at",
    "order_delivered_timestamp","order_estimated_delivery_date"
])
res_fechas

,columna,min,max,rango_dias,missing,%missing
0,order_purchase_timestamp,2016-10-03 09:44:50,2018-08-29 14:52:00,695,1898,2.13
1,order_approved_at,2016-10-04 09:43:32,2018-08-29 15:05:22,694,1898,2.13
2,order_delivered_timestamp,2016-10-11 13:46:32,2018-10-17 13:22:46,735,1898,2.13
3,order_estimated_delivery_date,2016-10-27 00:00:00,2018-10-25 00:00:00,728,1898,2.13

In [27]:
# Agregamos a nivel order_id para evitar la repetición de total_payment_value por línea
orders_agg = (
    df_fact.groupby("order_id", as_index=False)
          .agg(
              order_total_items=("line_total","sum"),
              order_total_paid=("total_payment_value","max"),
              days_to_deliver=("days_to_deliver","max"),
              n_lines=("product_id","count")
          )
)

# Estadísticos de esas métricas de pedido
res_stats_orders = stats_numeric(orders_agg, cols=["order_total_items","order_total_paid","days_to_deliver","n_lines"])
res_stats_orders

,columna,count,missing,%missing,mean,median,std,var,min,p25,p75,max,iqr,skew,kurtosis
0,days_to_deliver,87418,1898,2.13,12.434347,10.193119,9.272221,8.597409e+01,0.533414,6.732031,15.455674,209.628611,8.723643,3.522816,33.832308
1,n_lines,89316,0,0.00,1.000000,1.000000,0.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
2,order_total_items,89316,0,0.00,20007.088696,10953.000000,37388.150635,1.397874e+09,91.000000,6014.000000,19282.000000,446453.000000,13268.000000,7.145531,64.029680
3,order_total_paid,89316,0,0.00,268.657190,171.860000,344.409566,1.186179e+05,0.000000,84.340000,313.530000,7274.880000,229.190000,4.398857,34.404799

In [29]:
with pd.ExcelWriter("stats_resumenes.xlsx") as w:
    res_stats_fact.to_excel(w, sheet_name="num_df_fact", index=False)
    res_fechas.to_excel(w, sheet_name="fechas", index=False)
    res_stats_orders.to_excel(w, sheet_name="num_por_pedido", index=False)
 

print("✅ 'stats_resumenes.xlsx' creado.")

✅ 'stats_resumenes.xlsx' creado.

In [23]:
def resumen_outliers(df, col):
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    
    total = len(df)
    outliers = ((df[col] < lower) | (df[col] > upper)).sum()
    
    print(f"{col}:")
    print(f"  Rango normal: {lower:.2f} - {upper:.2f}")
    print(f"  Outliers detectados: {outliers} ({outliers/total*100:.2f}%) de {total}\n")

# Revisar columnas clave
for c in ["price", "shipping_charges", "days_to_deliver", "product_weight_g"]:
    if c in df_fact.columns:
        resumen_outliers(df_fact, c)

price:
  Rango normal: -15247.00 - 31209.00
  Outliers detectados: 10139 (11.35%) de 89316

shipping_charges:
  Rango normal: -4758.50 - 11653.50
  Outliers detectados: 3994 (4.47%) de 89316

days_to_deliver:
  Rango normal: -6.35 - 28.54
  Outliers detectados: 4536 (5.08%) de 89316

In [30]:
print("Valores negativos en price:", (df_fact["price"] < 0).sum())
print("Valores negativos en shipping_charges:", (df_fact["shipping_charges"] < 0).sum())
print("Valores negativos en days_to_deliver:", (df_fact["days_to_deliver"] < 0).sum())

Valores negativos en price: 0
Valores negativos en shipping_charges: 0
Valores negativos en days_to_deliver: 0

In [ ]:
import os

# Crear carpeta "datos_limpios_unificados"
output_dir = "datos_limpios_unificados"
os.makedirs(output_dir, exist_ok=True)

# Exportar directamente
df_fact.to_csv(os.path.join(output_dir, "fact_table.csv"), index=False)
df_fact.to_excel(os.path.join(output_dir, "fact_table.xlsx"), sheet_name="fact_table", index=False)

print("✅ Archivos creados en la carpeta 'datos_limpios_unificados'")